{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block body %}

  <div class="container div_users mb-5 mt-5">
    <h1 class="text-center mb-5">Informations  {{utilisateur.prenom}} {{utilisateur.nom}}</h1>
      {% if utilisateur %}
        <div class="container">  
          <h3 class="text-center"> {{utilisateur.prenom}} {{utilisateur.nom}}</h3>
          <div class="text-center" id="informations_user">           
            <p>{{utilisateur.TypeEtablissement}} : {{utilisateur.entreprise}}</p>         
            <p>0{{utilisateur.tel}}</p>                        
            <p>Numéro SIRET :{{utilisateur.siret}} </p>         
                      <p>Numéro SIRET :{{utilisateur.numtva}} </p>         
            <p>Description : {{utilisateur.description}}</p>
            <p>Date d'inscription : {{utilisateur.DateInscription|date("m/d/Y") }}</p> 
          </div>
        </div>

        <div class="container text-center mb-2">
          <a href="/utilisateur"><input class="btn btn-light" type="submit" name="retour" value="Revenir à la liste des utilisateurs"></a>
          <a href="/utilisateur/modify/{{utilisateur.Id}}"><input class="btn btn-success" type="submit" name="modifier" value="Modifier l'utilisateur"></a>
          <a href="/utilisateur/delete/{{utilisateur.Id}}"><input class="btn btn-danger  text-dark" type="submit" name="supprimer" value="Supprimer l'utilisateur"></a>
        </div>             
      {% else %}
        Pas d'informations à fournir.
      {% endif %}
  </div>

{% endblock %}